*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* navbar */
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1B5583;
    position: static;
    top: 0;
    overflow: hidden;
}
.navbar ul{
    display: flex;
    list-style:none;
    margin: 20px 0px;
}
.navbar li{
   display: flex; 
   padding-top: 10px;
   padding-right: 10px;
}

.navbar a{
    text-decoration: none;
    font-weight: 600;
    font-size: 25px;
    padding: 20px;
    font-family: monospace;
    color: #ffb045;
    transition: all .8s ease ease-in-out;
    
}

.navbar a:hover{
    color: #1B5583;
    background-color:#ffb045;
    border-radius: 70px;
    transition: ease-in-out 2s;
    box-shadow: 0 0 10px whitesmoke;
}

.navbar img{
    height: 100px;
    padding-right: 50px;
}

/* Home */

#Home{
    display: flex;
    flex-direction: column;
    height: 840px;
    justify-content: center;
    align-items: center;
    color: #1B5583;
    background-image: url(./Assets/EP\ Logo2.png);
    background-size: cover;
    background-position: center;
    position: relative;

}
#Home::after{
    content: '';
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgb(0, 0, 0, 0.6);
    box-shadow: inset 5px 50px 300px #000000, inset -250px -100px 300px;
 
 }

 #Home span{
    color: whitesmoke;
 }

.Main{
    display:flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 40%;
    left:10%;
    z-index: 3;

}

.Heading{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 58px;
    margin: 40px 0px;
    z-index: 3;
    color: #ffb045;

}

.btn{
    padding: 20px;
    border-radius: 20px;
    font-size: 25px;
    font-family: monospace;
    font-weight: 800;
    color: #1B5583;
    background-color: #ffb045;
    border: 4px solid;
    box-shadow: 0 0 10px whitesmoke;
    z-index: 3;
}

.btn:hover{
    color: #ffb045;
    cursor: pointer;
    background-color:#1B5583;
    border-radius:70px;
    transition: ease-in 2s, ease-out 2s;
    box-shadow: 0 0 10px #ffb045, 0 0 20px #ffb045, 0 0 15px #ffb045;
}

/* About */

#About{
    display: flex;
    flex-direction: column;
    height: 840px;
    justify-content: center;
    align-items: center;
    color: #1B5583;
    background-image: url(./Assets/EP\ Logo2.png);
    background-size: cover;
    background-position: center;
    position: relative;

}
#About::after{
    content: '';
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    z-index: 1;
    background: rgb(0, 0, 0, 0.6);
    box-shadow: inset 5px 50px 300px #000000, inset -250px -100px 300px;
 
 }



.Sub{
    display:flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left:10%;

}

.Headings{
    font-family:Helvetica;
    padding: 20px;
    border-radius: 20px;
    font-size: 25px;
    font-weight: 800;
    color: #1B5583;
    background-color: #ffb045;
    border: 4px solid;
    box-shadow: 0 0 10px whitesmoke;
    z-index: 3;
}
#About p{
    font-size: 24px;
    font-family: Helvetica;
    padding: 20px;
    font-weight: 600;
    z-index: 3;
    color: #ffb045;
}

.Headings2{
    font-family:Helvetica;
    padding: 20px;
    border-radius: 20px;
    font-size: 25px;
    font-weight: 800;
    color: #1B5583;
    background-color: #ffb045;
    border: 4px solid;
    box-shadow: 0 0 10px whitesmoke;
    z-index: 3;
}

.Headings3{
    font-family:Helvetica;
    padding: 20px;
    border-radius: 20px;
    font-size: 25px;
    font-weight: 800;
    color: #1B5583;
    background-color: #ffb045;
    border: 4px solid;
    box-shadow: 0 0 10px whitesmoke;
    z-index: 3;
}
#About ul{
    font-size: 24px;
    font-family: Helvetica;
    padding: 20px;
    font-weight: 600;
    z-index: 3;
    color: #ffb045;
}


